/* You can add global styles to this file, and also import other style files */
body{
  font: "Verdana";
  margin: 0px;
  // background-image: linear-gradient(to right, rgb(247, 217, 215) 0%, #DDD6F3 100%);
  // background: -webkit-linear-gradient(to right, #FAACA8, #DDD6F3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, powderblue, white);
}
